doctype html
html
  head
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    block title
      title MagicShifter
    link(rel="shortcut icon" href="/favicon.gif")
    link(rel="stylesheet" type="text/css" href="/css/main.css") 
    meta(name="viewport" content="width=device-width, initial-scale=1")

  body.magicshifter
    block header
      m-header

    block main

    block footer
