leds
  section(class='{show: show}')
    h3 { __('leds') }
    m-led(each='{ led in leds }')
    label(for='all') Set all leds:
    input(
      type='color'
      name='set-all-leds'
      onchange='{ setAllLeds }'
    )
    m-color-history

  style(type='scoped-css')
    :stylus
      :scope
        display block

  script.
    this.mixin('broadcast', 'ledStore', 'router', 'i18n', 'request', 'each', 'hexToRGB');
    this.router.page(this);
    this.ledStore.enlist(this);
    this.leds = [];

    this.on('leds:init', (leds) => this.render(leds));
    //- this.on('leds:update', (leds) => this.render(leds));

    this.render = (leds = false) => {
      if (leds && typeof leds === 'object') {
        this.leds = leds;
        this.update();
      }
    }

    this.setAllLeds = () => {
      if (this['set-all-leds'] && this['set-all-leds'].value) {
        let value = this['set-all-leds'].value;
        this.broadcast('leds:set', value);
      }
    }
