m-color-picker
  input(
    type='color'
    name='input'
    onchange='{ change }'
  )

  script.
    this.mixin('broadcast', 'ledStore');
    this.ledStore.enlist(this);

    this.change = (evt) => {
      if (this.opts && this.opts.led && this.opts.led.id) {
        let value = evt.target.value;
        this.broadcast('led:set', this.opts.led.id, {value, active: false});
      }
    }
