[submodule "Tools/esptool"]
	path = Tools/esptool
	url = https://github.com/themadinventor/esptool
[submodule "Tools/esptool-ck"]
        path = Tools/esptool-ck
        url = https://github.com/igrr/esptool-ck.git


[submodule "Tools/nanopb"]
	path = Tools/nanopb
	url = https://github.com/nanopb/nanopb.git
