[submodule "Tools/esptool"]
	path = Tools/esptool
	url = https://github.com/themadinventor/esptool
[submodule "Tools/esptool-ck"]
        path = Tools/esptool-ck
        url = https://github.com/igrr/esptool-ck.git


[submodule "Tools/nanopb"]
	path = Tools/nanopb
	url = https://github.com/nanopb/nanopb
[submodule "MS3KOS/lib/esp_littlefs"]
	path = MS3KOS/lib/esp_littlefs
	url = https://github.com/joltwallet/esp_littlefs.git
[submodule "MS3KOS/lib/littlefs"]
	path = MS3KOS/lib/littlefs
	url = https://github.com/ARMmbed/littlefs.git
