m-menu-item
  a(
    class='{ icon } { current: show }'
    href='{ path }'
    onclick='{ onClick }'
  ) { text }

  style(type='scoped-css')
    :stylus
      :scope
        display inline-block
        margin 0 0 0 .3em

      @media (max-width 500px)
        :scope
          display block
          margin 0.5em 0

      a
        text-decoration none
        color #01b001

        &:hover
          color #0097ff

        &.current
          text-decoration underline


  script.
    this.mixin('broadcast', 'router');
    this.router.page(this);

    this.onClick = () => {
      if (window.innerWidth < 500) {
        this.parent.hide();
      }
      this.router.trigger('Router:redirect', this.path);
    }
