.container {
  border: 0 none;
  border-radius: 100%;
  font-size: 1em;
  height: 2em;
  line-height: 2em;
  opacity: .8;
  padding: 0;
  text-align: center;
  transition: opacity 0s ease .2s;
  width: 2em;

  &:hover {
    opacity: 1;
  }
}
