.container {
  text-align: center;

  label {
    text-align: left;
  }
}

.input_container {
  text-align: center;
  width: 100%;
  position: relative;

  input {
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
  }

  i {
    background-color: rgba(94, 94, 94, .9);
    border-radius: 10px;
    box-shadow: none;
    display: block;
    font-size: 200px;
    text-align: center;
    width: 100%;
  }
}
