.container {
  background-color: #fff;
  display: inline-block;

  ul {
    display: inline-block;
    float: left;
    list-style: none;
    margin: 0 0 0 10px;
    text-align: right;
    width: 80%;
  }

  .indicator {
    display: block;
    float: left;
    height: 30px;
    width: 30px;
    border: 1px solid;
    max-width: 19%;
  }
}
