
.i-settings:before { content: '\e800'; } /* '' */
.i-cloud-thunder:before { content: '\e802'; } /* '' */
.i-cloud:before { content: '\e803'; } /* '' */
.i-cloud-request:before { content: '\e804'; } /* '' */