// magicshifter color theme
$magic-blue = #0097ff
$magic-orange = #ff9d1c
$magic-green = #01b001
$magic-yellow = #ff0
$magic-purple = #cc5adb
$magic-white =  #fff
$magic-red = #fd0000

$error-background-color = $magic-red
$error-color = $magic-white

$success-background-color = $magic-green
$success-color = $magic-white

$warn-background-color = $magic-orange
$warn-color = $magic-white

$bubble-background-color = $magic-purple
$bubble-color = $magic-white
