m-loader
  | { loadText }
  span { dots }

  script.
    this.mixin('i18n')
    this.loadText = this.__('Loading');
    this.dots = '.';

    this.started = false;

    this.on('update', () => {
      if (this.parent.loading === true && this.started === false) {
        this.started = true;

        let interval = setInterval(() => {
          if (this.dots === '...') { this.dots = '';}
          this.dots += '.';
          if (this.parent.loaded || !this.parent.loading) {
            this.started = false;
            clearInterval(interval);
          }
          this.update();
        }, 1000);
      }
    });
