.container {
  display: inline-block;
  float: left;
  padding: 0 0 0 10px;
}

.content {
  background-color: #fff;
  border-bottom-right-radius: 1em;
  clear: both;
  padding: .75em;
  position: relative;
  transition: left .5s;
  width: 100%;

  > div {
    margin: 0 0 1em;
  }

  ul li {
    display: inline-block;
  }
}

.button {
  left: 0;
  position: fixed;
}

.picker {
  text-align: left;
}

.settings {
  text-align: left;
}
