@media (orientation: portrait) {
  body {
    .container {
      display: inline-block;

      &:before {
        left: 136px;
      }

      li {
        float: left;
      }
    }
  }
}

@media (orientation: landscape) {
  body {
    .container {
      width: 300px;
      top: 136px;

      &:before {
        top: 9px;
      }
    }
  }
}
