.container {
  text-align: center;
  max-width: 100%;
  overflow: hidden;
}

.sub_container {
  width: 100000px;
  height: 100000px;
  position: relative;
  left: 120px;
}

.table {
  display: inline-block;
  float: left;
  list-style: none;
  left: 0;
  margin: 0;
  padding: 0;
  position: relative;
  top: 0;

  tr {
    margin: 0;
    padding: 0;
  }
}

.color_list {
  left: 120px;
  position: fixed;
  top: 10px;

  ul {
    li {
      float: left;
      position: relative;
      width: auto;
      z-index: 2;

      i {
        cursor: pointer;
        font-size: 30px;
        background-color: #353535;
        border-radius: 100%;

        &:last-child {
          display: none;
        }
      }
    }
  }
}
