@media (orientation: portrait) {
  body {
    .container {
      &:before {
        left: 22px;
        top: auto;
      }
    }
  }
}

@media (orientation: landscape) {
  body {
    .container {
      width: 300px;

      &:before {
        top: 19px;
      }
    }
  }
}
