.container {
  display: inline-block;
}

.list {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  float: left;
}

.pixel {
  float: left;
  border-width: 1px;
  border-style: solid;
  border-color: grey;
  cursor: pointer;
}
