.container {
  display: inline-block;

  .list {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  .picker {
    text-align: left;
  }

  .pixel {
    float: left;
    border-width: .2vw;
    border-style: solid;
    border-color: grey;
    cursor: pointer;
  }

}
