header.main {
  display: inline-block;
  width: 100%;

  .container {
    float: left;

    .logo {
      float: left;
      background-inline-image: url(src/static/img/logo.png);
      height: 40px;
      width: 40px;
      background-size: contain;
    }

    h3 {
      float: left;
      margin: .8em 0 0 .4em;
    }
  }
}
