.main {
  display: inline-block;
  width: 100%;

  .container {
    float: left;

    .logo {
      background-inline-image: url('src/static/img/logo.png');
      background-size: contain;
      float: left;
      height: 46px;
      margin: 8px 5px 5px 10px;
      width: 100px;
    }

    h3 {
      float: left;
      margin: .8em 0 0 .4em;
    }
  }

}
