.main {
  background-inline-image: url('src/static/img/header-background.jpg');
  background-size: contain;
  display: inline-block;
  width: 100%;

  .container {
    float: left;

    .logo {
      background-inline-image: url('src/static/img/logo.png');
      background-size: contain;
      float: left;
      height: 30px;
      margin: 8px 5px 5px;
      width: 65px;
    }

    h3 {
      float: left;
      margin: .8em 0 0 .4em;
    }
  }

}
