.container {
  position: absolute;

  nav {
    font-size: .8em;
  }

  li {
    position: relative;
    z-index: 2;
  }

  a {
    text-decoration: none;
  }

  i {
    background-color: #353535;
    border-radius: 100%;
    color: #1cfffa;
    font-size: 30px;
    padding: 5px;
  }
}

@media (orientation: portrait) {
  .container {
    bottom: 0;

    li {
      float: left;
      text-align: center;
      margin: 0 1em 0 0;
    }

    a {
      display: inline-block;
    }

    i, span {
      float: none;
    }

    i {
      display: inline-block;
    }

    span {
      display: block;
      margin: 0;
    }
  }
}


@media (orientation: landscape) {
  .container {
    top: 65px;
    left: 0;
    padding: 0 5px;

    nav {
      display: inline-block;
      margin: 0 0 .2em;
    }

    a {
      display: inline-block;
    }

    i {
      float: left;
    }

    span {
      float: left;
      margin: 11px 0 0 5px;
    }
  }
}

@media all and (orientation: landscape) and (min-height: 500px) {
  body {
    .container {
      li {
        margin: 0 0 20px 0;
      }
    }
  }
}

@media all and (orientation: portrait) and (min-width: 500px) {
  body {
    .container {
      left: 120px;
    }
  }
}
