.container {
  color: #fff;
  position: absolute;
}

.clicker {
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
}

.children {
  > div {
    background-color: rgba(53, 53, 53, .9);
    box-shadow: 3px 4px 5px rgba(53, 53, 53, .9);
    padding: 1em;
    position: relative;
    z-index: 2;

    &:before {
      content: '';
      height: 0;
      position: absolute;
      width: 0;
    }
  }
}


@media (orientation: portrait) {
  .container {
    left: 110px;
    top: auto;
    bottom: 75px;
  }

  .children {
    > div {
      &:before {
        border-top: 10px solid rgba(53, 53, 53, .9);
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        left: 22px;
        bottom: -10px;
        top: auto;
        right: auto;
      }
    }
  }
}

@media (orientation: landscape) {
  .container {
    left: 110px;
    top: 60px;
  }

  .children {
    > div {
      &:before {
        border-bottom: 10px solid transparent;
        border-right: 10px solid rgba(53, 53, 53, .9);
        border-top: 10px solid transparent;
        left: -10px;
      }
    }
  }
}
