.container {
  color: #fff;
  left: 110px;
  position: absolute;
  top: 60px;
}

.clicker {
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
}

.children {
  > div {
    background-color: rgba(53, 53, 53, .9);
    box-shadow: 3px 4px 5px rgba(53, 53, 53, .9);
    padding: 1em;
    position: relative;
    z-index: 2;

    &:before {
      border-bottom: 10px solid transparent;
      border-right: 10px solid rgba(53, 53, 53, .9);
      border-top: 10px solid transparent;
      content: '';
      height: 0;
      left: -10px;
      position: absolute;
      width: 0;
    }
  }
}
