m-log-message
  span.content
    span.new(if='{ new }') * 
    span.new(if='{ type === "warning" || type === "error" }') { __(type) }: 
    | { __(text) }
  span.delete(onclick='{ delete }') x

  style(type='scoped-css')
    :stylus
      :scope
        display inline-block
        text-align center
        position relative
        border 1px dotted green
        border-top 0
        padding .5em
        box-sizing border-box
        width 100%

      .content
        max-width 90%
        float left
      .delete
        float right

  script.
    this.mixin('hq', 'log', 'i18n');
    this.new = true;
    this.delete = () => this.log.del(this._id);

    this.parent.onHover = () => { this.new = false; this.update(); }
