m-log
  m-log-status(name='status' onclick='{ onClick }' class='i i-cloud')
  m-log-message-list(
    name='messageList' 
    class='{ hidden: !active } animate opacity'
  )
  m-log-bubble

  style(type='scoped-css')
    :stylus
      :scope
        display block
        float right
        width 1.5em

  script.
    this.mixin('hq', 'log', 'mixins');
    this.hq.enlist(this);

    this.on('log:message:del', () => {
      if (!this.log.messages.length) {
        setTimeout(this.hide.bind(this), 2000);
      }
      this.update();
    });

    this.onClick = () => {
      this.toggle();
      if (this.active && !this.log.messages.length) {
        setTimeout(this.hide.bind(this), 2000)
      }
    }
