m-log-status
  span(
    class='{ greyed: !log.messages.length }'
  ) { log.messages.length }
  span(
    if='{ cssClass && log.messages.length }'
    class=' { cssClass }'
  )

  style(type='scoped-css')
    :stylus
      :scope
        position relative

      span
        color #fff
        font-size 9px
        left 11px
        position absolute
        top 8px
        cursor pointer
        font-weight 600

        &.greyed
          color #ddd
          font-weight 500
        &.i
          left 0
          top 0
          &.warning, &.error
            border 0 none
            background-color transparent

  script.
    this.mixin('hq', 'log');
    this.hq.enlist(this);
    this.messageCount = this.log.messages.length;

    this.on('log:message:put', (msg) => {
      if (msg.type === 'warning' || msg.type === 'error') {
        this.cssClass = `${msg.type} i i-flash`;
      }
      this.messageCount = this.log.messages.length;
      this.update();
    });

    this.on('log:message:del', this.update.bind(this));
