global-reset()
reset-html5()
@import 'include/sanity'
@import 'include/icons.css'

body
  font-family Ubuntu, Verdana, sans-serif
  font-size 20px
  border 0
  max-width 900px
  width 90%
  margin 0 auto
  padding .25em 0 0

section
  height 0
  width 0
  overflow hidden
  opacity 0
  transition opacity .3s
  z-index 0

  &.show
    opacity 1
    z-index 1
    transition opacity .7s .3s
    position absolute
    top auto
    height auto
    width auto
    display inline-block

h1, h2, h3, h4, h5
  line-height 1.1em

h1
  font-size 1.5em
  margin 0 0 .5em
h2
  font-size 1.4em
  margin 0 0 .5em
h3
  font-size 1.2em
  margin 0 0 .5em
h4
  font-size 1.2em
h5
  font-size 1em

form h4
  margin 1em 0 0

p
  clear both
  margin .5em 0
  padding .5em

.success
  color $success-color
  background-color $success-background-color
  border 2px solid $success-color
  border-radius 5px

.error
  color $error-background-color
.warning
  color $warn-background-color

.bubble
  background-color $bubble-background-color
  color $bubble-color
  border-radius 5px

  &.error
    color $error-color
    background-color $error-background-color

  &.warning
    color $warn-color
    background-color $warn-background-color

input[type=submit]
  margin 0 .5em 0 0
  padding .5em
  border-radius 1.1em

input[readonly]
  border 0

.animate
  &.all
    transition all .5s
  &.opacity
    transition opacity .5s

.hidden
  opacity 0
  height 0
  width 0
  overflow hidden
  min-width 0
  max-width 0
  max-height 0
  min-height 0

  > *
    display none

.delete
  border 1px solid
  border-radius 100%
  color red
  float right
  height 1.25em
  width 1.25em
  font-size .8em
  cursor pointer
