@import 'base';

html,
body {
  background-color: #efefef;
  font-family: Ubuntu, 'Segoe UI', roboto, 'Lucida Grande', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

a {
  color: inherit;
}

h5 {
  margin: .5em 0 0;
}

button:focus {
  outline: none;
}
