@import 'base';

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Ubuntu, 'Segoe UI', roboto, 'Lucida Grande', sans-serif;
}

a {
  color: inherit;
}

h5 {
  margin: .5em 0 0;
}
