$i-color: "\63";
$i-effects: "\65";
$i-font: "\66";
$i-image: "\62";
$i-info: "\69";
$i-settings: "\73";
$i-upload: "\75";
$i-zoom_in: "\2b";
$i-zoom_out: "\2d";

@font-face {
  font-family: 'MS3000';
  font-weight: normal;
  font-style: normal;
  src: url('/font/ms-ico.woff?pt8xw1') format('woff');
}

i.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'MS3000';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  speak: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.color {
    &:before {
        content: $i-color;
    }
}
.effects {
    &:before {
        content: $i-effects;
    }
}
.font {
    &:before {
        content: $i-font;
    }
}
.image {
    &:before {
        content: $i-image;
    }
}
.info {
    &:before {
        content: $i-info;
    }
}
.settings {
    &:before {
        content: $i-settings;
    }
}
.upload {
    &:before {
        content: $i-upload;
    }
}
.zoom_in {
    &:before {
        content: $i-zoom_in;
    }
}
.zoom_out {
    &:before {
        content: $i-zoom_out;
    }
}
