button,
input {
  margin: .3em;
  padding: .5em;
  background-color: transparent;
  border-color: #fff;
  border-width: 1px;
  border-radius: 5px;
}

button,
input[type=button] {
  background-color: #00FF5C;
  padding: 1.2em;
  font-size: 1.2em;
  border: 0 none;
  cursor: pointer;
}

input[type=number] {
  text-align: right;
  padding: .3em 0 .3em .3em;
  width: 3.5em;
}

input[type=file] {
  margin: 0;
  padding: .5em 0;
}

.floating {
  float: left;
  height: 1em;
  width: 1em;


  &.small {
    height: .7em;
    width: .7em;
  }
}
