doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
    title MagicShifter.local
    link(rel='icon' href='/favicon.ico')
    meta(name='author' content='dev@wizardsat.work')
    meta(name='description' content='')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    style
      :stylus
        *
          box-sizing border-box

  body
    div#app
    script(src='/js/bundle.js')
